{% extends "base.html" %}
{% block content %}
<div style="display: inline-block; padding: 20px 30px; margin-top: 5%; margin-left: 260px; margin-right: 200px; border-radius: 9px; border: 2px solid black; width: 70%; height: 30%;">
    <form method="POST">
        <h1 id="titles"><i class="fa fa-simplybuilt" aria-hidden="true"></i> Registre um novo livro</h1><br>
        {% csrf_token %}
        {{ form.as_p }}
        <button style="width: 30%; align-items: center;" type="submit"> Submit </button>
    </form>
</div>
{% endblock content %}
