{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
{% if user.is_authenticated %}
<section class="wrapper" style="color: black; margin-left: 20%; margin-right: 30%; margin-top: 2%;">
    <div class="table-wrapper">
        <h1 id="titles"> Reservas</h1>
        <table class="table" style="padding: 10px; border: 3px solid #18a689; border-radius: 5%; border-style: solid; width: 40%; height: 40%;">
            <thead class="table-head" style="color: white;  background-color: #18a689; border: 3px solid #18a689;">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Autor</th> 
                    <th>Sinopse</th>
                    <th>Data de Lançamento</th>
                    <th>Data da Reserva</th>
                    <th>Status</th>
                    <th>Prazo de Entrega</th>
                    <th>Retirar Livro</th>
                    <th>Retornar Livro</th>
                    <th>Cancelar Reserva</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in user_reservations %}
                <tr>
                    <td>{{ reservation.book.id }}</td>
                    <td>{{ reservation.book.name }}</td>
                    <td>{{ reservation.book.author }}</td>
                    <td>{{ reservation.book.synopsis }}</td>
                    <td>{{ reservation.book.data_lancamento }}</td>
                    <td>{{ reservation.reservation_date }}</td>
                    <td>{{ reservation.book.status }}</td>
                    <td>{{ reservation.deadline_date }}</td>
                    <td><a href="{% url 'take_book' reservation.book.id reservation.id %}" style="margin-left: 20px; text-decoration: none;"> 
                            <i class="fa fa-book" aria-hidden="true" style="font-size: 20px; margin-top: 50%;"></i>
                        </a>
                    </td>
                    <td>    
                        <a href="{% url 'return_book' reservation.book.id reservation.id %}" style="margin-left: 20px; text-decoration: none;">
                            <i class="fa fa-undo" aria-hidden="true" style="font-size: 20px; margin-top: 40%;"></i>
                        </a>
                    </td>
                    <td>    
                        <a href="{% url 'cancel_reservation' reservation.id %}" style="margin-left: 20px; text-decoration: none;" onclick="return confirm('Deseja realmente cancelar a reserva?')"> 
                            <i id="cancel" class="fa fa-ban" aria-hidden="true" style="font-size: 20px; margin-top: 36%;"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <span class="step-links">
            {% if user_reservations.number %}
                <span class="current" style="padding-right: 10px;">Página {{ user_reservations.number }} de {{ user_reservations.paginator.num_pages }}.</span>
            {% endif %}
            {% if user_reservations.has_previous %}
                <a id="pagination" href="?page=1">&laquo; Primeiro</a>
                <a id="pagination" href="?page={{ user_reservations.previous_page_number }}">Anterior</a>
            {% endif %}
            {% if user_reservations.has_next %}
                <a id="pagination" href="?page={{ user_reservations.next_page_number }}">Próximo</a>
                <a id="pagination" href="?page={{ user_reservations.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% else %}
<div style="text-align: center;display: inline-block; padding: 20px 30px; margin-top: 5%; margin-left: 370px; margin-right: 200px; border-radius: 9px; border: 2px solid black; width: 50%; height: 50%;">
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <br><h3 id="titles">Informar credenciais para login: </h3><br>
        <div class="mb-3"><input style="width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box;" type="text" name="username", placeholder="Usuário" required></div><br>
        <div class="mb-3"><input style="width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box;" type="password" name="password" placeholder="Senha" required></div><br>
        <button type="submit" style="width: 10%; padding: 5px;">Entrar</button>
    </form>
</div>
{% endif %}
{% endblock %}