{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wrapper" style="color: #00D6C4; margin-left: 20%; margin-right: 30%; margin-top: 2%;">
<div class="table-wrapper">
    <h1>{{ reservations_count }} Reserva(s)</h1>
    <table class="table">
        <thead class="table-head">
            <tr style="border: 1px solid #00D6C4; border-radius: 9px; color: #00D6C4;">
                <th>ID</th>
                <th>Nome</th>
                <th>Autor</th> 
                <th>Sinopse</th>
                <th>Data de Lançamento</th>
                <th>Data da Reserva</th>
                <th>Status</th>
                <th>Retirar</th>
                <th>Cancelar</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in user_reservations %}
                <tr style="padding: 10px; border: 1px solid #00D6C4; border-radius: 9px; color: #00D6C4;">
                    <td>{{ reservation.book.id }}</td>
                    <td>{{ reservation.book.name }}</td>
                    <td>{{ reservation.book.author }}</td>
                    <td>{{ reservation.book.synopsis }}</td>
                    <td>{{ reservation.book.data_lancamento }}</td>
                    <td>{{ reservation.reservation_date }}</td>
                    <td>{{ reservation.book.status }}</td>
                    <td>    
                        <a href="{% url 'take_book' reservation.book.id %}" style="margin-left: 20px; text-decoration: none;">
                            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>    
                        <a href="{% url 'cancel_reservation' reservation.id %}" style="margin-left: 20px; text-decoration: none;"> 
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            <span class="current" style="padding-right: 10px;">
                Página {{ books.number }} de {{ books.paginator.num_pages }}.
            </span>
            {% if books.has_previous %}
                <a href="?page=1">&laquo; Primeiro</a>
                <a href="?page={{ books.previous_page_number }}">Anterior</a>
            {% endif %}
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">Próximo</a>
                <a href="?page={{ books.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</section>
{% endblock %}



