{% extends "base.html" %}
{% block content %}
<div style="display: inline-block; padding: 20px 30px; margin-top: 5%; margin-left: 260px; border-radius: 9px; border: 2px solid black; width: 70%; height: 30%;">
    <form method="POST">
        <h1 id="titles">Criar usuário</h1>
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'is_superuser' %}
                <br><label id="labels" for="id_is_superuser">É administrador</label>
                <input class="specific" style="margin-right: 100px;" type="{{ field.field.widget.input_type }}" name="id_is_superuser" placeholder="{{ field.widget.attrs.placeholder }}"><br>
            {% else %}
                <br><input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}" {% if field.field.required %}required{% endif %}><br>
            {% endif %}
        {% endfor %}
        <br><br>
        <button style="width: 30%;" type="submit">Criar usuário</button>
    </form>
</div>
{% endblock content %}
