{% extends "base.html" %}
{% block content %}
<div style="display: inline-block;
            justify-content: center;
            align-items: center;
            padding: 20px 30px;
            margin-top: 5%;
            margin-left: 20%;
            border-radius: 9px;
            border: 2px solid #00D6C4;
            ">
        <form method="POST" style="margin-left: 20%;">
            <h1>Registrar livro</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button id="form_btn" type="submit" class="btn btn-info"> Submit </button>
        </form>
    </div>
{% endblock content %}
