{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="wrapper" style="margin-left: 20%; margin-right: 30%; margin-top: 2%;">
<div class="table-wrapper">
    <h1> {{ books_count }} Livro(s)</h1>
    
    
    <form method="GET">
    <input type="submit">
    {{ filter.form.as_p }}
    </form>


    <table class="table" style="padding: 10px; border: 3px solid black; border-radius: 5%; border-style: solid;">
        <thead class="table-head" style="background-color: #18a689; border: 3px solid black;">
            <tr style="border: 1px solid black">
                <th>ID</th>
                <th>Nome</th>
                <th>Autor</th> 
                <th>Sinopse</th>
                <th>Reservas</th>
                <th>Data de Lançamento</th>
                <th>Status</th>
                <th>Reservar</th>
                <th>Excuir</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr style="padding: 10px;">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.synopsis }}</td>
                <td>{{ book.reservas }}</td>
                <td>{{ book.data_lancamento }}</td>
                <td>{{ book.status }}</td>
                <td>
                    <form method="post" action="{% url 'reserve_book' book.id %}">
                        {% csrf_token %}
                        <input type="date" id="userDateInput" style="width: 100%;" name="user_date">
                        <button style="margin-top: 5%;" type="submit" > Reservar </button>
                    </form>
                </td>
                <td>
                    <a style="margin-left: 20px; text-decoration: none;" href="{% url 'del_books' book.id %}" onclick="return confirm('Are you sure you want to delete this book?')">
                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 30px;"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            <span class="current" style="padding-right: 10px;">Página {{ books.number }} de {{ books.paginator.num_pages }}.</span>
            {% if books.has_previous %}
                <a href="?page=1">&laquo; Primeiro</a><a href="?page={{ books.previous_page_number }}">Anterior</a>
            {% endif %}
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">Próximo</a><a href="?page={{ books.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</section>
{% endblock %}



